:root {
    /* COLORS */
    --titles-color: #1E1E1E;
    --main-text-color: #263036;
    --buttom-color: #333;
    --bg-left-color: #a6bdca;
    --bg-right-color: #c4c4c418;
    --border-bottom-color: #000000;
    --links-basic: #1C2E8C;
    --visited-link: rgba(0, 0, 85, 0.8);
    --surname-color: rgba(28, 46, 140, 1);
    --name-color: #fff;
    --scrollbar-bg: #65a4c9;
    --scrollthumb-bg: #007dc5;


    /* TEXT SIZE */
    --text-font: Arial, Helvetica, sans-serif;
    --font-for-titels: Arial, Helvetica, sans-serif;
    
    --title-font-size-right: 36px;
    --text-font-size-right: 16px;
    --title-line-height-right: 44px;
    --title-font-size-left: 36px;
    --title-line-height-left: 44px;
    --font-weight-bold: 600;
    --font-weight-normal: normal;

    /* Margings & Paddings */

    --margin-left-block: 0 40px;
    --left-titles-pb: 30px 0 15px;
    --right-titles-pb: 28px;
    --title-padding-bottom: 28px;
   

    /* Animation */

    --timing-function: cubic-bezier(0, 0.79, 0.64, 0.92);
}